<h1>Person anlegen</h1>

<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form id="createPerson" class="uk-form" method="POST">

    <fieldset data-uk-margin>
        <input type="text" name="vorname" placeholder="Vorname">
        <input type="text" name="nachname" placeholder="Nachname">
        <input type="text" name="fuehrerschein" placeholder="Führerschein (optional)">
    </fieldset>
    <p>
        <button class="uk-button" type="submit" >speichern</button>
    </p>
</form>