<h1>Für Rennen anmelden</h1>
<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form id="createAnmeldung" class="uk-form" method="POST">

    <fieldset data-uk-margin>
        <select name="rennId">
            <option value="">- Rennen auswählen -</option>
            @for r in context.rennen@
            <option value="#context.rennen[r].id#">#context.rennen[r].bezeichnung# (#context.rennen[r].datum#)</option>
            @endfor@
        </select>

        <select name="fahrzeugId">
            <option value="">- Fahrzeug auswählen -</option>
            @for f in context.fahrzeuge@
            <option value="#context.fahrzeuge[f].id#">#context.fahrzeuge[f].kennzeichen#</option>
            @endfor@
        </select>
    </fieldset>
    <p>
        <button class="uk-button" type="submit" >anmelden</button>
    </p>
</form>