<h1>Fahrzeuge anlegen</h1>
<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form id="createVehicle" class="uk-form" method="POST">
    <h2>Fahrzeugdaten</h2>
    <input name="marke" type="text" placeholder="Marke">

    <select name="typ">
        <option value="">- Fahrzeugklasse auswählen -</option>
        @for fk in context.fahrzeugklassen@
        <option value="#context.fahrzeugklassen[fk].id#">#context.fahrzeugklassen[fk].bezeichnung#</option>
        @endfor@
    </select>

    <input name="baujahr" type="text" placeholder="Baujahr">
    <input name="hubraum" type="text" placeholder="Hubraum">
    <input name="leistung" type="text" placeholder="Leistung">
    <input name="beschreibung" type="text" placeholder="Beschreibung (optional)">
    <input name="kennzeichen" type="text" placeholder="Kennzeichen">

    <h2>Teamdaten</h2>
    <select name="fahrerId">
        <option value="">- Fahrer auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#">#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>

    <select name="beifahrerId">
        <option value="">- Beifahrer auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#">#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>

    <select name="mechanikerId">
        <option value="">- Mechaniker auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#">#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>
    <p>
        <button class="uk-button" type="submit" >speichern</button>
    </p>
</form>