<button class="uk-button" data-action="function" data-function="logout">Ausloggen</button>

<h1>Ihre Fahrzeuge</h1>
<button data-action="function" data-function="createVehicle" class="uk-button">Neues Fahrzeug</button>

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <tr>
        <th>Nummernschild</th>
        <th>Marke</th>
        <th>Typ</th>
        <th>Baujahr</th>
        <th>Hubraum</th>
        <th>Leistung</th>
        <th>Beschreibung</th>
        <th>&nbsp;</th>
    </tr>
    @for f in context.fahrzeuge@
    <tr class="fahrzeug">
        <td>#context.fahrzeuge[f].kennzeichen#</td>
        <td>#context.fahrzeuge[f].marke#</td>
        <td>#context.fahrzeuge[f].typ#</td>
        <td>#context.fahrzeuge[f].baujahr#</td>
        <td>#context.fahrzeuge[f].hubraum#</td>
        <td>#context.fahrzeuge[f].leistung#</td>
        <td>#context.fahrzeuge[f].beschreibung#</td>
        <td>
            <button data-action="function" data-function="editVehicle" class="uk-button" data-id="#context.fahrzeuge[f].id#">Bearbeiten</button>
            <button data-action="function" data-function="deleteVehicle" class="uk-button" data-id="#context.fahrzeuge[f].id#">Löschen</button>
        </td>
    </tr>
    @endfor@
</table>

<h1>Ihre Anmeldungen</h1>
<button class="uk-button" data-action="function" data-function="createAnmeldung">Am Rennen anmelden</button>

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <tr>
        <th>Fahrer</th>
        <th>Beifahrer</th>
        <th>Mechaniker</th>
        <th>Fahrzeug</th>
        <th>&nbsp;</th>
    </tr>
    @for a in context.anmeldungen@
    <tr>
        <td>#context.anmeldungen[a].fahrer.vorname# #context.anmeldungen[a].fahrer.nachname#</td>
        <td>#context.anmeldungen[a].beifahrer.vorname# #context.anmeldungen[a].beifahrer.nachname#</td>
        <td>#context.anmeldungen[a].mechaniker.vorname# #context.anmeldungen[a].mechaniker.nachname#</td>
        <td>#context.anmeldungen[a].fahrzeug.kennzeichen# (#context.anmeldungen[a].fahrzeug.beschreibung#)</td>
        <td>
            <button class="uk-button" data-action="function" data-id="#context.anmeldungen[a].id#" data-function="deleteAnmeldung">Löschen</button>
        </td>
    </tr>
    @endfor@
</table>

<h1>Ihr Personen</h1>
<button data-action="page.switch" data-template-name="besitzer_createPerson" class="uk-button">Neue Person</button>

 <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Führerschein</th>
        <th>&nbsp;</th>
    </tr>
    @for p in context.personen@
    <tr class="person">
        <td>#context.personen[p].vorname#</td>
        <td>#context.personen[p].nachname#</td>
        <td>#context.personen[p].fuehrerschein#</td>
        <td>
            <button data-action="function" data-function="editPerson" class="uk-button" data-id="#context.personen[p].id#">Bearbeiten</button>
            <button data-action="function" data-function="deletePerson" class="uk-button" data-id="#context.personen[p].id#">Löschen</button>
        </td>
    </tr>
    @endfor@
</table>