<h1>Qualifying-Ergebnisse eintragen</h1>
<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form class="uk-form" id="insertQualifying" method="POST" action="/api/qualiergebnisse">
    <input type="hidden" name="rennId" value="#context.rennId#" />
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <tr>
            <th>Fahrer</th>
            <th>Beifahrer</th>
            <th>Mechaniker</th>
            <th>Fahrzeug</th>
            <th>Ergebnis (Zeit)</th>
            <th>Qualifiziert?</th>
        </tr>
        @for a in context.anmeldungen@
        <tr>
            <td>#context.anmeldungen[a].fahrer.vorname# #context.anmeldungen[a].fahrer.nachname#</td>
            <td>#context.anmeldungen[a].beifahrer.vorname# #context.anmeldungen[a].beifahrer.nachname#</td>
            <td>#context.anmeldungen[a].mechaniker.vorname# #context.anmeldungen[a].mechaniker.nachname#</td>
            <td>#context.anmeldungen[a].fahrzeug.marke# (#context.anmeldungen[a].fahrzeug.kennzeichen#)</td>
            <td><input placeholder="Format: Minuten:Sekunden:Millisekunden" data-anmeldung-id="#context.anmeldungen[a].id#" type="text" name="zeit_in_string[]"></td>
            <td>
                <select data-anmeldung-id="#context.anmeldungen[a].id#" name="status[]">
                    <option value="1" selected>Ja</option>
                    <option value="2">Nein</option>
                </select>
            </td>
        </tr>
        @endfor@
    </table>

    <button class="uk-button" type="submit">Ergebnisse speichern</button>
</form>