<h1>Fahrzeugklasse erstellen</h1>

<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>
<p>
<form id="createVehicleCategory" class="uk-form" method="POST">
    <fieldset data-uk-margin>
        <input type="text" name="bezeichnung" placeholder="Bezeichnung">
        <input type="text" name="beschreibung" placeholder="Beschreibung">
        <input type="text" name="zeit_in_string" placeholder="Qualifikationszeit">
    </fieldset>
    <p>
        <button class="uk-button" type="submit" >speichern</button>
    </p>
</form>
</p>