<button class="uk-button" data-action="function" data-function="logout">Ausloggen</button>

<h1>Alle Fahrzeugklassen</h1>

<button class="uk-button" data-action="page.switch" data-template-name="rennleiter_createVehicleCategory">Fahrzeugklasse erstellen</button>
<!--<button class="uk-button" onclick="editVehicleCategory();">Fahrzeugklasse bearbeiten</button>-->
<!--<button class="uk-button" onclick="deleteVehicleCategory();">Fahrzeugklasse l&ouml;schen</button>-->

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <tr>
        <th class="id">Fahrzeugklassen-Id</th>
        <th>Bezeichnung</th>
        <th>Beschreibung</th>
        <th>Qualifikationszeit</th>
        <th>&nbsp;</th>
    </tr>

    @if context.fahrzeugklassen.length == 0@
    <tr class="vehicleCategory">
        <td colspan="4">Keine Fahrzeugklassen eingetragen!</td>
    </tr>
    @endif@

    @for f in context.fahrzeugklassen@
    <tr class="vehicleCategory">
        <td>#context.fahrzeugklassen[f].id#</td>
        <td>#context.fahrzeugklassen[f].bezeichnung#</td>
        <td>#context.fahrzeugklassen[f].beschreibung#</td>
        <td>#context.fahrzeugklassen[f].zeit_in_string#</td>
        <td>
            <button class="uk-button" data-id="#context.fahrzeugklassen[f].id#" data-action="function" data-function="editVehicleCategory">Bearbeiten</button>
            <button class="uk-button" data-id="#context.fahrzeugklassen[f].id#" data-action="function" data-function="deleteVehicleCategory">Löschen</button>
        </td>
    </tr>
    @endfor@
</table>

<h1>Ihr Rennen</h1>

@if context.rennen.length == 0@
<button class="uk-button" data-action="page.switch" data-template-name="rennleiter_createRace">Rennen erstellen</button>
@else@
<p>
    @if context.rennen[0].quali_eingetragen == true@
    <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="insertRennErgebnisse">Renn-Ergebnisse eintragen</button>
    @else@
    <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="insertQualiErgebnisse">Qualifying-Ergebnisse eintragen</button>
    @endif@
    <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="editAnmeldungen">Anmeldungen einsehen</button>
</p>
@if context.rennen[0].quali_eingetragen == false@
<hr>
<p>
    <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="viewStations">Stationen einsehen</button>
</p>
@endif@
@endif@

<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <tr>
        <th>Bezeichnung</th>
        <th>Beschreibung</th>
        <th>Datum</th>
        <th>Leitung</th>
        <th>&nbsp;</th>
    </tr>

    @if context.rennen.length == 0@
    <tr class="vehicleCategory">
        <td colspan="4">Kein Rennen eingetragen!</td>
    </tr>
    @else@
    <tr class="vehicleCategory">
        <td>#context.rennen[0].bezeichnung#</td>
        <td>#context.rennen[0].beschreibung#</td>
        <td>#context.rennen[0].datum#</td>
        <td>#context.rennen[0].leiter.benutzername#</td>
        <td>
            @if context.rennen[0].quali_eingetragen == false@
            <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="editRace">Rennen bearbeiten</button>
            @endif@
            <button class="uk-button" data-id="#context.rennen[0].id#" data-action="function" data-function="deleteRace">Rennen löschen</button>
        </td>
    </tr>
    @endif@
</table>