<h1>Fahrzeug bearbeiten</h1>
<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form id="editUserCar" class="uk-form" method="POST">
    <h2>Fahrzeugdaten</h2>
    <input name="id" type="hidden" value="#context.fahrzeuge.id#">
    <input name="marke" type="text" placeholder="Marke" value="#context.fahrzeuge.marke#">

    <select name="typ">
        <option value="">- Fahrzeugklasse auswählen -</option>
        @for fk in context.fahrzeugklassen@
        <option value="#context.fahrzeugklassen[fk].id#"
        @if context.fahrzeugklassen[fk].id == context.fahrzeuge.typ@
                selected
        @endif@
        >#context.fahrzeugklassen[fk].bezeichnung#</option>
        @endfor@
    </select>

    <input name="baujahr" type="text" placeholder="Baujahr" value="#context.fahrzeuge.baujahr#">
    <input name="hubraum" type="text" placeholder="Hubraum" value="#context.fahrzeuge.hubraum#">
    <input name="leistung" type="text" placeholder="Leistung" value="#context.fahrzeuge.leistung#">
    <input name="beschreibung" type="text" placeholder="Beschreibung (optional)" value="#context.fahrzeuge.beschreibung#">
    <input name="kennzeichen" type="text" placeholder="Kennzeichen" value="#context.fahrzeuge.kennzeichen#">

    <h2>Teamdaten</h2>
    <select name="fahrerId">
        <option value="">- Fahrer auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#"
        @if context.personen[p].id == context.fahrzeuge.fahrerId@
                selected
        @endif@
        >#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>

    <select name="beifahrerId">
        <option value="">- Beifahrer auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#"
        @if context.personen[p].id == context.fahrzeuge.beifahrerId@
                selected
        @endif@
        >#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>

    <select name="mechanikerId">
        <option value="">- Mechaniker auswählen -</option>
        @for p in context.personen@
        <option value="#context.personen[p].id#"
        @if context.personen[p].id == context.fahrzeuge.mechanikerId@
                selected
        @endif@
        >#context.personen[p].vorname# #context.personen[p].nachname#</option>
        @endfor@
    </select>
    <p>
        <button class="uk-button" type="submit" >speichern</button>
    </p>
</form>