<h1>Person bearbeiten</h1>

<p>
    <button class="uk-button" data-action="page.switch.index">Zurück</button>
</p>

<form id="editUserperson" class="uk-form" method="POST">

    <fieldset data-uk-margin>
        <input type="hidden" name="id" value="#context.personen.id#">
        <input type="text" name="vorname" placeholder="Vorname" value="#context.personen.vorname#">
        <input type="text" name="nachname" placeholder="Nachname" value="#context.personen.nachname#">
        <input type="text" name="fuehrerschein" placeholder="Führerschein (optional)" value="#context.personen.fuehrerschein#">
    </fieldset>
    <p>
        <button class="uk-button" type="submit" >speichern</button>
    </p>
</form>