table {
	width: 100%;

	margin-top: 50px;
}

table th {
	background-color: rgb(100,100,100);
	color: white;
}

table th.id {
	width: 120px;
}

table tr:nth-child(odd) td {
	//background-color: rgb(180,180,180);
}

table tr:nth-child(even) td {
	//background-color: rgb(200,200,200);
}

table tr.selected-thema td {
	background-color: rgb(120,120,120);
	color: white;
}

table tr.selected-diskussion td {
	background-color: rgb(120,120,120);
	color: white;
}

table tr.selected-user td {
	background-color: red;
	color: white;
}

div.beitrag {
	margin-bottom: 20px;
	background-color: yellow;
}

div.beitrag.selected-beitrag {
	background-color: red;
	color: white;
}

div.beitrag div.beitrags-kopf {
	border-bottom: 1px solid grey;
	padding: 5px;
	background: lightgrey;
	color: black;
}

div.beitrag div.beitrags-body {
	padding: 10px;
}

p.break {
	padding: 0;
	margin: 0;
}

p.error {
	color: #AA3333;
}