body {
	margin: 5px;
}

table {
	width: 100%;

	margin-top: 50px;
}

table th {
	background-color: rgb(100,100,100);
	color: white;
}

table th.id {
	width: 120px;
}

form#insertRennergebnisse .stationen_input {
	margin-top: 5px;
}

.stationen_input_fields {
	display: none;
}